    /**
    * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
    * http://cssreset.com
    **/

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }

    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 1;
    }
    ol, ul {
    list-style: none;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }

    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    img{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

/****** general ******/

.wrapper {
    width: 1265px;
    
}



/****** galeria ******/

.galeria {
    padding: 12px;
    display: inline-block;
    float: left;

    -moz-column-count: 5;
    -moz-column-gap: 12px;
    -moz-column-fill: auto;

    -webkit-column-count: 5;
    -webkit-column-gap: 12px;
    -webkit-column-fill: auto;

    column-count: 5;
    column-gap: 12px;
    column-fill: auto;

}


.galeria_box{
    width: 236px;
    margin-bottom: 12px ;
    display: inline-block;
    float: left;
    overflow: hidden;
    position: relative;

    border: 2px solid hsla(259, 85%, 60%, 2);
    border-radius: 5px;

    /*-webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;*/

    }


img {
    max-width: 100%;
    min-width:100%;
        
}

.imagen{
    width: 236px;
    height: 100%;
    display: block;

}


.pinit{
    position: absolute;
    top: 0;
    left: 0;
    cursor: crosshair;    
    background-color: red;
    padding: 7px;
    margin: 10px 0 0 15px;
    color: #fff;
    

    display: hidden;
}


/****** descripcion y contacto ******/

.descripcion {
    width: 236px;
    height: 100%;
    display: block;
    font-size: .8em;
    padding: 5px 4px;

}

.autor{
    width: 236px;
    height: 50px;
    display: inline-block;
    border-top: 2px solid #000;
    padding: 10px 12px;
    font-size: .6em;

    line-height: 15px;

    background-size: 30px 30px;

}


/***** autor *****/
.avatar {
    max-width: 30px;
    min-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
}

.nombre {
    display: inline-block;
}


/****** animacion ******/

.imagen:hover {
    display: inline-block;
    opacity: .7;
  
}

.pinit >.imagen:hover{
    opacity: 1;
}

.pinit:hover {
    display:inline-block;
}
